ruff==0.14.1
beautifulsoup4==4.12.3
requests==2.31.0
tqdm==4.67.1
dotenv==0.9.9
lancedb==0.25.2
pymorphy3==2.0.6
llama-index==0.14.5
llama-index-llms-openrouter==0.4.2
llama-index-vector-stores-lancedb==0.4.1
sentence-transformers
